*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
  
}
html{
    scroll-behavior: smooth;
}
.header{
    padding: 50px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(249, 245, 241);

}
.header>img{
    height: 60px;
    width: 60px;

}
.header-links{
    width: 15%;
    display: flex;
    justify-content: space-between;
}
.links{
    text-decoration: none;
    color: black;
    font-size: 25px;
/*     transition: transform 500ms; */
}
/* .links:hover{

    transform: scale(1.5,1.5);
} */
#home{
    margin: 100px 0 100px 0;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 60vh;
    justify-content: space-around;
    
}
.banner-img>img{
    width: 85%;
    height: 100%;
    transform: skewX(30deg);
    transition: transform 6s;
    transition-behavior: inherit;


}
.banner>h1{
margin-bottom: 30px;
font-size: 40px;
color: rgb(55, 55, 55);
}
.banner>p{
    text-align: justify;
    margin-bottom: 40px;
}
.banner>a{
    text-decoration: none;
    color: white;
    background-color: rgb(55, 55, 55);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 7px rgb(253 170 52);

}
.banner>a:hover{
    background-color: red;
    
}
.banner-head>span{
    color: rgb(253 170 52);
}

#about{
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 60vh;
    justify-content: space-around;
}
.about-img>img{
    width: 80%;
    height: 100%;
}
.about-content>h2{
    font-size: 30px;
    margin-bottom: 30px;
    color: rgb(55, 55, 55);

}
.about-content>p{
    text-align: justify;
}
.contact{
    font-size: small;
    margin-top: 40px;
    margin-left: 20px
}
.contact>li{
    margin-bottom: 10px
}
